<div class="container">
<nav id="navbar" class="navbar justify-content-center navbar-dark">
    <ul class="navbar justify-content-center col-md-9 col-lg-5 col-sm-auto" id="navbarToggle">
        <row>
		{% assign pages = site.pages %}
		{% for page in pages %}
            {% if include.title == page.title %}
                {% assign class = 'active-link' %}
            {% else %}
                {% assign class = 'active' %}
            {% endif %}

            {% if page.startpage %}
				<li class="nav-item startpage {{ class }}{{active_page}}">
					<a class= "nav-link" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
        </row>
        <row>
		{% assign pages = site.pages | sort:"order" %}
		{% for page in pages %}
            {% if include.title == page.title %}
                {% assign class = 'active-link' %}
            {% else %}
                {% assign class = 'active' %}
            {% endif %}

            {% if page.title and page.startpage != true and page.nav_bottom != true %}
				<li class="nav-item userpage {{ class }}{{active_page}}">
					<a class= "nav-link" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </row>
    <row>
		{% assign pages = site.pages %}
		{% for page in pages %}
            {% if include.title == page.title %}
                {% assign class = 'active-link' %}
            {% else %}
                {% assign class = 'active' %}
            {% endif %}

            {% if page.title and page.nav_bottom %}
				<li class="nav-item bottom {{ class }}{{active_page}}">
					<a class= "nav-link" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </row>
    </ul>
</nav>
</div>