
<nav id="navbar" class="navbar justify-content-center navbar-expand-md navbar-dark">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <div id="navActiveMenuText">
            <i class="fas fa-chevron-down"></i>
        </div> 
        <div id="navDisabledMenuText">
            <i class="fas fa-chevron-up"></i>
        </div> 
    </button>
	<ul class="navbar-collapse justify-content-center collapse" id="navbarToggle">
		{% assign pages = site.pages %}
		{% for page in pages %}
			{% assign class = 'active' %}

            {% if page.title %}
				<li class="{{ class }}">
					<a href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endif %}
		{% endfor %}
    </ul>
</nav>