
<nav id="navbar" class="navbar justify-content-center navbar-expand-md navbar-dark bg-dark">
	<ul class="collapse navbar-collapse justify-content-center" id="navbarToggle">
		{% assign pages = site.pages %}
		{% for page in pages %}
			{% assign class = 'active' %}

            {% if page.title %}
				<li class="{{ class }}">
					<a href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endif %}
		{% endfor %}
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" aria-hidden="true"> Menu </span>
    </button>
</nav>