//Background
$main-background-color: #1d1919 !default;
$bodyColor: #6c757d;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

$navbar-dark-color: #1d1919 !default;
$navbar-dark-toggler-border-color:  transparent !default;

$navbar-ul-color-visited: rgba(255,255,255,.5);
$navbar-ul-color-hover-focus: #74716d;
$navbar-li-color-active-link: rgba(255,255,255,.9);
$body-link-color: #eac381;