<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
{% include header.html %}

<body>
	{% include navigation.html title=page.title %}
	<div class="container">
		{% if page.images_top %}
			{% include image_table.html folder=page.image_path %}
		{% endif %}
		<!-- <div class="container"> -->
		<div class="row justify-content-center">
			<h1> {{ page.title }} </h1>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-8 col-sm-auto">
				{{ content }}
			</div>
		</div>
	<!-- </div> -->
	<!-- <div class="container"> -->
	<div class="row justify-content-center">
		<div class="col-md-8 col-sm-auto">
			{% if page.images_bottom %}
				{% include image_table.html folder=page.image_path %}
			{% endif %}
		</div>
	</div>
	<!-- </div>
	</div> -->
	{% include footer.html %}
</body>

</html>